* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: auto;
	margin: 10px auto;
	max-width: 1000px;
}

img {
	width: 100px;
}

a:hover {
	color: green;
}

header nav ul li {
	display: inline;
	font-size: 20px;
	font-weight: 600;
	margin-right: 25px;
}

header nav ul li:last-child {
	margin-right: 5px;
}

body {
}

main {
	background: url(https://g1.dcdn.lt/images/pix/bananai-78558701.jpg);
	background-size: cover;
	background-attachment: fixed;
	height: 100%;
	margin: 0 auto;
	width: auto;
	padding: 20px;
}

.container {
	display: flex;
	flex-direction: column;
	background-color: white;
	border-radius: 10px;
	margin: 0 auto;
	max-width: 1000px;
	padding: 40px 20px;
}

h1 {
	font-size: 24px;
	padding-bottom: 20px;
}

.container img {
	float: left;
	margin: 0 10px 5px 0;
	width: 300px;
	border-radius: 5px;
}

footer {
	text-align: center;
	padding: 20px;
}

h4 {
	font-size: 16px;
	font-weight: 400;
}

input {
	width: 100%;
	margin-bottom: 20px;
	padding: 10px 5px;
}

textarea {
	width: 100%;
	height: 50px;
	padding: 5px;
}

button {
	background-color: rgb(1, 124, 1);
	padding: 15px 40px;
	width: 50%;
	margin: 20px 0;
	color: white;
	border: none;
	font-size: 16px;
}

table {
	text-align: center;
	margin-top: 40px;
	border-collapse: collapse;
}

thead {
	font-weight: 600;
}

tbody td:first-child {
	color: green;
	font-weight: 600;
}

td {
	border: 2px solid rgb(224, 223, 223);
	padding: 5px;
}

span {
	color: green;
}
