header {
	text-align: center;
	background-color: rgb(9, 3, 26);
}

header img {
	width: 25%;
}

h1 {
	color: white;
	text-align: left;
	padding: 0 12.5%;
}

a.navigacija {
	text-decoration: none;
	color: white;
	padding: 10px;
}

nav {
	background-color: gold;
	margin: 0 12.5% 0 12.5%;
	padding: 10px;
	text-align: right;
}

h3 {
	margin: 20px 12.5% 20px 12.5%;
}

p.apie {
	text-align: justify;
	margin: 20px 12.5% 20px 12.5%;
}

input[type="submit"] {
	background-color: red;
	margin: 20px;
	text-align: center;
	color: white;
	text-align: center;
	padding: 10px 20px;
}

section.lentele {
	background: rgb(11, 5, 95);
	padding: 10px 0 20px 0;
}

table {
	margin: auto;
	border-collapse: collapse;
	width: 75%;
	color: white;
	text-align: center;
}

th {
	border: 1px red solid;
}

td {
	border: 1px red solid;
	padding: 5px;
}

td.pavarde {
	text-align: right;
}

tfoot {
	text-align: right;
	font-weight: bold;
}

h2 {
	text-align: left;
	color: white;
	padding: 0 12.5%;
}

ul {
	width: 68%;
	margin: 0 12.5% 0 12.5%;
}

p.ivirsu {
	text-align: center;
}

footer {
	background-color: rgb(233, 202, 29);
	text-align: center;
	padding: 10px;
	color: white;
}

div {
	text-align: center;
}
